body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

header, section, footer {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header {
    height: 80px;
    background-image: linear-gradient(to right, #11998e
    , #38ef7d);
}

.marca {
    width: 140px;
    height: 80px;
    float: left;
}

.marca h1 {
    text-align: center;
    color: #23e684;
}

.btn_nav {
    width: 440px;
    height: 80px;
    background-color: #0099ff;
    float: right;
}

#about {
    height: 400px;
    background-color: #99ff99;
}

.perfil {
    width: 290px;
    height: 300px;
    margin: 50px 0px 50px 35px;
    background-color: #006600;
    float: left;
}

.perfil_data {
    width: 600px;
    height: 300px;
    margin: 50px 35px 50px 0px;
    background-color:#003300;
    float: right;
}

#work {
    height: 400px;
    background-color: #ff9933;
}

.empresa {
    width: 260px;
    height: 315px;
    margin-top: 85px;
    background-color: #ff3300;
    float: left;
}

.empresa_data {
    width: 700px;
    height: 315px;
    margin-top: 85px;
    background-color: #cc0000;
    float: left;
}

#school {
    height: 800px;
    background-color: #ff66ff;
}

.school_left {
    width: 425px;
    height: 200px;
    margin: 30px 40px 30px 15px;
    background-color: #660033;
    float: left;
}

.school_right {
    width: 425px;
    height: 200px;
    margin: 30px 15px 30px 40px;
    background-color: #990099;
    float: left;
}

#code {
    height: 400px;
    background-color: #66ccff;
}

.code_data--left {
    width: 300px;
    height: 300px;
    margin: 85px 30px 15px 0px;
    background-color: #000066;
    float: left;
}

.code_data--center {
    width: 300px;
    height: 300px;
    margin: 85px 0px 15px 0px;
    background-color: #0000ff;
    float: left;
}

.code_data--right {
    width: 300px;
    height: 300px;
    margin: 85px 0px 15px 30px;
    background-color: #3333cc;
    float: left;
}

footer {
    height: 300px;
    background-color: black;
}