header, section, footer {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header {
    height: 80px;
    background-color: #0000cc;
}

.marca {
    width: 140px;
    height: 80px;
    background-color: #6699ff;
    float: left;
}

.btn_nav {
    width: 440px;
    height: 80px;
    background-color: #0099ff;
    float: right;
}

#about {
    height: 400px;
    background-color: #99ff99;
}

.perfil {
    width: 290px;
    height: 300px;
    margin: 50px 0px 50px 35px;
    background-color: #006600;
    float: left;
}

.perfil_data {
    width: 600px;
    height: 300px;
    margin: 50px 35px 50px 0px;
    background-color:#003300;
    float: right;
}

#work {
    height: 400px;
    background-color: #ff9933;
}

.empresa {
    width: 260px;
    height: 315px;
    margin-top: 85px;
    background-color: #ff3300;
    float: left;
}

.empresa_data {
    width: 700px;
    height: 315px;
    margin-top: 85px;
    background-color: #cc0000;
    float: left;
}

#school {
    height: 800px;
    background-color: #ff66ff;
}

#code {
    height: 400px;
    background-color: #66ccff;
}